@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body {

}

header {
    background-color: black;
    height: 300px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 5vw;
    padding: 60px;
}

header > p {
    color: white;
    text-align: center;
    font-size: 3vw;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}



section {
    
    font-size: 3vw;
    text-align: justify;
    line-height: 60px;
   
    padding: 70px;
    width: 100%;
    
    
}

#primeiraimagem {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
    background-attachment: fixed;

    color: white;

}

#segundaimagem { 
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
    background-attachment: fixed;
    color: white;
}

footer {
    text-align: center;
    
}