@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    background-color: darkgray;
}

header {
    background-color: black;
    text-align: center;
}

header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    color: white;
    text-align: center;
    
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

 section.normal {
    background-color: white;
    color: black;
    
    
    
}

section#primeiraimagem > p {
    background-color: rgba(0, 0, 0, 0.168);
    width: 400px;
}

#primeiraimagem {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
    background-attachment: fixed;

    color: white;

}

#segundaimagem { 
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;
    background-attachment: fixed;
    color: white;
}

.bloco {
    
}
footer {
    text-align: center;
    background-color: black;
    padding: 10px;
    color: white;
}